$color-background: #1E2122;
$color-background-secondary: #D95902;
$color-background-tertiary:#0aa80a;
$color-background-light:#313232;
$color-border:#4B4D4E;
$color-text-primary:rgba(255, 255, 255, 0.879);
$color-text-secondary:rgba(255, 255, 255, 0.747);
$color-text-green: #0aa80a;
$color-text-orange:#D95902;