@import '../../../SCSS-variable/variable';


.projects-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;          
      color: $color-text-primary;
     

      h2{   
            width: 100%;
            text-align: start;
            border-top: 1px solid $color-border;
            border-bottom: 1px solid $color-border;
            padding: 1rem;
            margin: 0;
            text-align: center;
            color: $color-text-orange;
            @media screen and (min-width: 1280px){
                  display: none;
            }
      }

      .projects{
            padding: 1rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            color: $color-text-secondary;
            gap: 1rem;
            @media screen and (min-width: 600px){
                  justify-content: flex-start;
                  
            }
           
           
            h3{
                  text-align: start;
                  width: 100%;
                  text-decoration: underline;
                  text-align: center;
                  color: $color-text-green;
                  @media screen and (min-width:1280px){
                        text-decoration: none;
                        border-bottom: 1px solid $color-border;
                        padding-bottom: 4px;
                  }
            }

            
            .real-projects{
                  width: 100%;
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: space-evenly;
                  align-items: center;
                  gap: 10px;
                 
                      
            }
            .proj-wrapper{
                  display: grid;
                  grid-template-columns: repeat(3,1fr);
                  gap: 10px;
                  @media screen and (max-width:1280px){
                        grid-template-columns: repeat(1,1fr);
                  }
                  .project{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-between;
                  border: 1px solid $color-border;
                  border-radius: 4px;
                  padding: 10px;
                  background-color: $color-background-light;
                 
                 
                  img{
                        width: 100%;
                  }
                  .btn-wrapper{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        a{
                              padding: 1rem 1.5rem;
                              border: 2px solid $color-border;
                              border-radius: 4px;
                              text-decoration: none;
                              color: $color-text-orange;
                              font-weight: 400;
                              outline: none;
                        }
                        .second-btn{
                              color:$color-text-green
                        }
                  }
            } 
            }
           
      }
}