<section class="projects-wrapper">
  <h2>PROJECTS</h2>
  <div class="projects">
    <h3>Real projects</h3>
    <div class="real-projects">
      <div class="proj-wrapper">
        <div class="project" *ngFor="let project of realProjects$ | async">
          <img [src]="project.image" alt="" />
          <p>{{ project.description }}</p>
          <div class="btn-wrapper">
            <a *ngIf="project.githubUrl !== ''" [href]="project.githubUrl" target="_blank">GitHub</a>
            <a
              *ngIf="project.githubPagesUrl !== ''"
              class="second-btn"
              [href]="project.githubPagesUrl" target="_blank"
              >Website</a
            >
          </div>
        </div>
      </div>
    </div>
    <h3>Practice projects</h3>
    <div class="proj-wrapper">
      <div class="project" *ngFor="let project of practiceProjects$ | async">
        <img [src]="project.image" alt="" />
        <p>{{ project.description }}</p>
        <div class="btn-wrapper">
          <a [href]="project.githubUrl" target="_blank">GitHub</a>
          <a
            *ngIf="project.githubPagesUrl !== ''"
            class="second-btn"
            [href]="project.githubPagesUrl" target="_blank"
            >GitHub Pages</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
