@import '../../../SCSS-variable/variable';


.wrapper{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 1280px){
      height: 100%;            
      }
      .intro-wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            .img-wrapp{
                  width: 200px;
                  height: 200px;
                  border-radius: 100%;
                  border: 3px solid $color-background-secondary;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  overflow: hidden;
                  @media screen and (min-width: 1280px){
                         width: 250px;
                         height: 250px;
                  }
                 
                 img{  
                  position: relative;
                  bottom: -35px;
                  width: 250px;
                  filter: drop-shadow(0px 1px 10px #000);
                  @media screen and (min-width: 1280px){
                        width: 350px;                        
                  }
            }  
            }
            .title{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                
                  h1{
                        color: $color-text-primary;
                  }
                  p{
                        color:$color-text-secondary;
                        font-size: 20px;
                  }
            }
           
      }
}